extends layout

block content
  .back(ng-controller="userCtrl")
    .title
      br
      p EMX
      button(ng-click="obtener_cercanos()", class="btncer")
    .info 
      h3 #{user}
      
      .esta(ng-show="cuadro")
        br
        div Id:
        div(ng-bind="estac.id_estacionamiento")
        br
        div Precio:
        div(ng-bind="estac.precio")
        br
        div Rating:
        div(ng-bind="estac.rating")
        br
        div Cupo:
        div(class="dis d{{estac.disponibilidad}}")


    #map-canvas
