doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bar-style.css')
    link(rel='stylesheet', href='/css/bar.css')
    link(rel='stylesheet', href='/css/sections.css')
    script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
    script(src='/js/bar-script.js')
    script(src='/js/div_manager.js')
    title zeevi Home
  body(onload='load_news()')
    #container.back
      // dentro de este div se cargará el contenido
    #cssmenu.top-bar
      ul
        li
          a(href='#')
            img.logo(src='/img/logo/zeevi_3.png')
        li#inicio
          a(href='#') Inicio
        li#profile
          a(href='#') Perfil
        li#solicitud
          a(href='#') Solicitudes
        li.has-sub
          a(href='#') Cuenta
          ul
            li
              a(href='index.html') Cerrar Sesión
            li
              a(href='#') Otras opciones
              
    
    script.
      $(document).ready(function(){
        $("#inicio").click(function(){
          $("#container").load("/htmls/news.html #news");
          });
        });
        
    script.
      $(document).ready(function(){
        $("#profile").click(function(){
          $("#container").load("/htmls/profile.html #profile");
          });
        });  
    
    script.
      $(document).ready(function(){
        $("#solicitud").click(function(){
          $("#container").load("/htmls/solicitud.html #sol");
          });
        });
        
  html
