extends layout

block content
  .fondo
    .index    
      p Bienvenido a EMX

    .options(ng-controller="homeCtrl")
      button(ng-click="login()") Inicia Sesion
      br
      button(ng-click="signup()") Registrate