doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

            
    //script( src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCoGTvp76RgkJBN24HAlBh3Ym_L0vd6dHQ")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&language=es")
    script(src="/javascripts/maps.js")
    // Angular
    script(src="https://code.angularjs.org/1.4.0-beta.5/angular.js")
    script(src="/javascripts/app.js")  

  body(ng-app="app")
    block content