doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Zeevi music
    link(rel='stylesheet', href='css/foundation.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/login.css')
    script(src='js/vendor/modernizr.js')
  body
    include header
    .row.title-login
      .small-6.large-centered.columns.bound
        h1
          | Ingresa a tu cuenta
    form.login-form(method='post',action="/api/user/login")
      .row
        .small-6.large-6.small-centered.large-centered.columns
          input(type='text', name='username', placeholder='Nombre de usuario')
      .row
        .small-6.large-6.small-centered.large-centered.columns
          input(type='password',name='password', placeholder='Contraseña')
      .row
        .small-6.large-6.small-centered.large-centered.columns
          input(type='submit',value="Ingresa").button.expand
      .row
        .small-6.large-6.small-centered.large-centered.columns
          p
            | ¿Olvidaste tu contraseña?
            a(href='/') Obenten nueva contraseña
      .row
        .small-6.large-6.small-centered.large-centered.columns
          p
            | ¿Aún no eres miembro?
            a(href='../signup') Regístrate.
    .footer
      // Footer code here
    script(src='js/vendor/jquery.js')
    script(src='js/foundation/foundation.min.js')
    script.
      $(document).foundation();
