doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Login
    link(rel='stylesheet', href='css/foundation.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/login.css')
    script(src='js/vendor/modernizr.js')
  body
    include header
    .row.title-login
      .small-6.large-centered.columns.bound
        h1
          | Sign in for zeevi_
    form.login-form(method='post',action="/api/user/login")
      .row
        .small-6.large-6.small-centered.large-centered.columns
          input(type='text', name='username', placeholder='Username')
      .row
        .small-6.large-6.small-centered.large-centered.columns
          input(type='password',name='password', placeholder='Password')
      .row
        .small-6.large-6.small-centered.large-centered.columns
          input(type='submit',value="Log In").button.expand
      .row
        .small-6.large-6.small-centered.large-centered.columns
          p
            | Forgot you password?
            a(href='index.html') Reset Password
      .row
        .small-6.large-6.small-centered.large-centered.columns
          p
            | Don't have an account?
            a(href='../signup') Sign up.
    .footer
      // Footer code here
    script(src='js/vendor/jquery.js')
    script(src='js/foundation/foundation.min.js')
    script.
      $(document).foundation();
