html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='css/home.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  body
    .top-small
      // Aquí irán los datos.
      img.head-image(src='img/header/music.jpg')
      #profile-img-small.prof-img-small
        img(src='img/profile/mastodon.jpg')
      #data-container.data
        p#section_name News
    .section-container
      // Aquí irá el contenido de las secciones.
      .query-container
        | Hola aquí estan tus datos.
      .query-container
        | Hola aquí estan tus datos.
      .query-container
        | Hola aquí estan tus datos.
      .query-container
        | Hola aquí estan tus datos.
      .query-container
        | Hola aquí estan tus datos.
      .query-container
        | Hola aquí estan tus datos.
      .query-container
        | Hola aquí estan tus datos.
      .query-container
        | Hola aquí estan tus datos.
      .query-container
        | Hola aquí estan tus datos.
