html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='css/home.css')
  body
    .top
      img.head-image(src='img/header/music.jpg')
      // Aquí irán los datos.
      #profile-img.prof-img
        img(src='img/profile/mastodon.jpg')
      #data-container.data
        p#band_name Nombre de la banda
        p#band_data Datos de la Banda
    .section-container
      // Aquí irá el contenido de las secciones.
      .basic-data-container
        | Hola aquí estan tus datos.
      .basic-data-container
        | Hola aquí estan tus datos.
      .basic-data-container
        | Hola aquí estan tus datos.
      .basic-data-container
        | Hola aquí estan tus datos.
      .basic-data-container
        | Hola aquí estan tus datos.
      .basic-data-container
        | Hola aquí estan tus datos.
      .basic-data-container
        | Hola aquí estan tus datos.
      .basic-data-container
        | Hola aquí estan tus datos.
