extends layout

block content
  .fondo
    .index
      p Registrate

    .registro
      form(method="post", action="/user")
        //label Username: 
        input(type="text",name="username",placeholder="Username")
        br
        //label Correo: 
        input(type="text",name="correo",placeholder="Correo")
        br
        //label Contraseña: 
        input(type="password",name="password",placeholder="Contraseña")
        br
        input(type="submit", class="submit")
      br
      br
      a(href="/login",class="lin") Inicia Sesion


