body{
  width: 100%;
}



.top{
  background: #00b2ca;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 200px;
  z-index: 10;
  box-shadow: 0px 1px 5px #555;
  overflow: hidden;
}

.top-small{
  background: #00b2ca;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 145px;
  z-index: 10;
  box-shadow: 0px 1px 5px #555;
  overflow: hidden;
}

#section-name{
  position: fixed;
  color: white;
  font-size: 40px;
  top: 50px;
  left: 210px;
  font-family: sans-serif;
  font-weight: bold;
}

.head-image{
  width: 100%;
  opacity: .08;
}

.top .data{
  color: whitesmoke;
  position: fixed;
  top: 50px;
  left: 20%;
  font-family: 'Roboto Slab', serif;
}

.section-container{
  z-index: 5;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0;
  top: 145px;
  overflow-y: auto;
  align-content: center;
  background: white;
}

.prof-img{
  background: #FF7A00;
  position: fixed;
  top: 70px;
  left: 8%;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 30px;
  overflow: hidden;
}

.prof-img-small{
  background: purple;
  position: fixed;
  top: 70px;
  left: 8%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px white;
  overflow: hidden;
}

.prof-img img{
  height: 100%;
}

.prof-img-small img{
  height: 100%;
}

#band_name{
  color: white;
  font-size: 38px;
}

#band_data{
      position: fixed;
      color: whitesmoke;
      top: 120px;
    }

#section_name{
  color: red;
  font-size: 200px;
}

@media all and (max-width: 1000px) {
    #data-container{
        margin-left: 0px;
        left: 23%;
    }
  
    #band_name{
      position: fixed;
      color: white;
      font-size: 35px;
      top: 60px;
    }
    .band_data{
      position: fixed;
      color: whitesmoke;
      top: 120px;
    }
}

@media all and (max-width: 780px) {
    #data-container{
        margin-left: 0px;
        left: 28%;
    }
    #band_name{
      position: fixed;
      color: white;
      font-size: 35px;
      top: 60px;
    }
    #band_data{
      position: fixed;
      color: whitesmoke;
      top: 120px;
    }
}

@media all and (max-width: 550px) {
    #data-container{
        margin-left: 0px;
        left: 42%;
    }
    
    #band_name{
      color: white;
      font-size: 28px;
    }
  
    #band_data{
      position: fixed;
      color: whitesmoke;
      top: 140px;
    }
    #section-name{
      position: fixed;
      color: white;
      font-size: 35px;
      top: 55px;
      left: 150px;
    }
}

.query-container{
  background-color: #f2f2f2;
  width: 80%;
  margin: 0 auto;
  margin-top: 35px;
  padding: 15px;
  box-shadow: 0px 1px 5px #ccc;
  -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
    animation: mymove 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mynewmove {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mynewmove {
    from {top: 0px;}
    to {top: 200px;}
}

.contact-name{
  font-family: sans-serif;
  color: #666;
  font-size: 35px;
  font-weight: bold;
}

.contact-genre{
  font-family: sans-serif;
  color: #666;
  font-size: 15px;
  font-weight: lighter;
}

.contact-addres{
  font-family: sans-serif;
  color: #666;
  font-size: 20px;
}

.container-left{
  height: 100%;
  width: 75%;
  display: inline-block;
  margin-bottom: 20px;
}

.container-right{
  height: 100%;
  display: inline-block;
}

.request-button{
  height: 50px;
  width: 120px;
  background-color: #FF7A00;
  border-radius: 25px;
  border-width: 0px;
  outline: none;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0 auto;
  box-shadow: 0px 1px 5px #888;
  vertical-align: middle;
  position: relative;
  left: 10px;
}

.request-button:hover{
  background-color: #FF9900;
}

.request-button:active{
  background-color: #EE8800;
  box-shadow: 0px 1px 3px #555;
}

.circle-button{
  border-radius: 50%;
  border-width: 0px;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0 auto;
  box-shadow: 0px 1px 5px #888;
  vertical-align: middle;
  position: relative;
  left: 10px;
  margin-left: 10px;
  padding: 10px;
}

.ok{
  background-color: green; 
}

.cancel{
  background-color: crimson;
}

.twhu{
  width: 150px;
  text-align: center;
}

.settup-container{
  height: 130px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}