body{
  width: 100%;
}

.top{
  background: #00b2ca;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 200px;
  z-index: 10;
  box-shadow: 0px 1px 5px #555;
  overflow: hidden;
}

.top-small{
  background: #00b2ca;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 145px;
  z-index: 10;
  box-shadow: 0px 1px 5px #555;
  overflow: hidden;
}

#section-name{
  position: fixed;
  color: white;
  font-size: 40px;
  top: 40px;
  left: 200px;
  font-family: 'Roboto Slab', serif;
}

.head-image{
  width: 100%;
  opacity: .08;
}

.top .data{
  color: whitesmoke;
  position: fixed;
  top: 50px;
  left: 20%;
  font-family: 'Roboto Slab', serif;
}

.section-container{
  z-index: 5;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0;
  top: 145px;
  overflow-y: auto;
  align-content: center;
  background: white;
}

.prof-img{
  background: #FF7A00;
  position: fixed;
  top: 70px;
  left: 8%;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 30px;
  overflow: hidden;
}

.prof-img-small{
  background: purple;
  position: fixed;
  top: 70px;
  left: 8%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px white;
  overflow: hidden;
}

.prof-img img{
  height: 100%;
}

.prof-img-small img{
  height: 100%;
}

#band_name{
  color: white;
  font-size: 38px;
}

#band_data{
      position: fixed;
      color: whitesmoke;
      top: 120px;
    }

#section_name{
  color: red;
  font-size: 200px;
}

@media all and (max-width: 1000px) {
    #data-container{
        margin-left: 0px;
        left: 23%;
    }
  
    #band_name{
      position: fixed;
      color: white;
      font-size: 35px;
      top: 60px;
    }
    .band_data{
      position: fixed;
      color: whitesmoke;
      top: 120px;
    }
}

@media all and (max-width: 780px) {
    #data-container{
        margin-left: 0px;
        left: 28%;
    }
    #band_name{
      position: fixed;
      color: white;
      font-size: 35px;
      top: 60px;
    }
    #band_data{
      position: fixed;
      color: whitesmoke;
      top: 120px;
    }
}

@media all and (max-width: 550px) {
    #data-container{
        margin-left: 0px;
        left: 42%;
    }
    
    #band_name{
      color: white;
      font-size: 28px;
    }
  
    #band_data{
      position: fixed;
      color: whitesmoke;
      top: 140px;
    }
    #section-name{
      position: fixed;
      color: white;
      font-size: 35px;
      top: 48px;
      left: 150px;
    }
}

.query-container{
  background-color: #f2f2f2;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 15px;
  box-shadow: 0px 1px 5px #ccc;
}

.query-container:hover{
  background-color: #eee;
  box-shadow: 0px 1px 3px #bbb;
}

.contact-name{
  font-family: sans-serif;
  color: #666;
  font-size: 35px;
  font-weight: bold;
}

.contact-genre{
  font-family: sans-serif;
  color: #666;
  font-size: 15px;
  font-weight: lighter;
}

.contact-addres{
  font-family: sans-serif;
  color: #666;
  font-size: 20px;
}
