.basic-data-container{
  color: #666;
  background-color: white;
  padding: 30px;
  overflow-y: scroll;
  margin-top: 50px;
  font-family: sans-serif;
}

.data-section-left{
  width: 250px;
  height: 350px;
  padding: 20px;
  background: whitesmoke;
  float:left;
  margin-right: 15px;
  box-shadow: 0px 1px 5px #ccc;
}

.data-section-right{
  height: 350px;
  padding: 20px;
  background: whitesmoke;
  overflow:hidden;
  box-shadow: 0px 1px 5px #ccc;
}

@media all and (max-width: 780px) {
    .data-section-left{
      height: 100px;
      margin: 0 auto;
        width: 90%;
      float: none;
      margin-bottom: 30px;
    }
    .data-section-right{
        margin: 0 auto;
        width: 90%;
    }
}

.cube-container{
  display: inline-block;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
}

.row-container{
  padding: 5px;
  margin: 0px;
}

input[type=text]{
  color: #979797;
  background: whitesmoke;
  height: 20px;
  width: 150px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #c2c2c2;
  margin-bottom: 5px;
}

input[type=text]:focus{
  color: #666;
  border-bottom: 2px solid #FF9900;
}

input[type=submit]{
  color: #fff;
  background: #c2c2c2;
  height: 25px;
  width: 80px;
  padding: 0px;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  border: none;
  outline: none;
  margin-bottom: 5px;
}

input[type=submit]:hover{
  background: #FF9900;
}

input[type=submit]:active{
  background: #FF7A00;
}