@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin-top: -8px;
  margin-left: -8px;
  padding: 0px;
  background-color: white;
}

.test{
  height: 300px;
  width: 800px;
  margin-top: -8px;
  margin-left: -8px;
  z-index: 0;
}