.top{
  background: #00b2ca;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 145px;
  z-index: 10;
  box-shadow: 0px 1px 5px #555;
  overflow: hidden;
}

.top .data{
  color: whitesmoke;
  position: fixed;
  top: 60px;
  left: 210px;
  font-family: 'Roboto Slab', serif;
}

.head-image{
  width: 100%;
  opacity: .08;
}

.section-container{
  background: white;
  z-index: 5;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 145;
  overflow-y: auto;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
}

.prof-img{
  background: purple;
  position: fixed;
  top: 70px;
  left: 8%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px white;
  overflow: hidden;
}

.prof-img img{
  height: 100%;
}

#section_name{
  color: white;
  font-size: 30px;
  top: 300px;
}

#band_data{
  color: antiquewhite;
}

@media all and (max-width: 1000px) {
    #data-container{
        margin-left: 0px;
        left: 270px;
    }
}

@media all and (max-width: 750px) {
    #data-container{
        margin-left: 0px;
        left: 230px;
    }
}

@media all and (max-width: 500px) {
    #data-container{
        margin-left: 0px;
        left: 210px;
    }
  
    #band_data{
      position: fixed;
      color: dimgrey;
      top: 190px;
    }
}

.query-container{
  background-color: #f2f2f2;
  width: 90%;
  height: 100px;
  margin-top: 20px;
  padding: 15px;
  box-shadow:  0px 1px 5px #ccc;
}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}