@import url("fonts.css");
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-size: 18px;
}
p {
  margin: 0;
  padding: 0;
  color: #fff;
}
h1 {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
  padding: 0;
}
.index {
  background: #03a9f4;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-family: 'Roboto';
  display: block;
  width: 100%;
  text-align: center;
  height: 100px;
}
.index p {
  display: block;
  padding-top: 30px;
  color: #fff;
  font-size: 2em;
}
.options {
  margin-top: 150px;
  text-align: center;
height
}
.options button {
  width: 200px;
  height: 50px;
  background: #607d8b;
  color: #fff;
  font-family: 'Roboto';
  text-align: center;
  border: 0px solid #fff;
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 25px;
}
.fondo {
  height: 100%;
  width: 100%;
  background: url("../images/Mexico_City-12.jpg");
  background-size: 100% 100%;
}
.registro {
  color: #000;
  background: rgba(179,229,252,0.9);
  width: 60%;
  margin-left: 15%;
  margin-top: 10%;
  height: 250px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 15px;
  text-align: center;
}
.registro input {
  color: #fff;
  border: 0px;
  border-bottom: 1px solid #607d8b;
  background: rgba(179,229,252,0);
  margin-top: 25px;
  display: inline-block;
  width: 150px;
}
.registro input:focus {
  border: 0px;
}
.registro ::-webkit-input-placeholder {
  color: #fff;
}
.registro .submit {
  margin-top: 20px;
  font-weight: lighter;
  background: #607d8b;
  color: #fff;
  border: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.back {
  background: #b3e5fc;
  width: 100%;
  height: 100%;
}
.title {
  background: #0288d1;
  width: 100%;
  height: 10%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
}
.title color white p {
  color: #fff;
  width: 20%;
  display: inline-block;
vertical-align
}
#map-canvas {
  vertical-align: top;
  display: inline-block;
  margin-top: 0.4%;
  width: 75%;
  height: 89%;
}
.info {
  text-align: center;
  margin-top: 0.4%;
  vertical-align: top;
  color: #fff;
  display: inline-block;
  width: 25%;
  height: 89%;
  background: #03a9f4;
}
.info div {
  margin-top: 10px;
}
.info h3 {
  margin-top: 10%;
}
.info .id {
  font-weight: lighter;
}
.info .id p {
  display: inline-block;
}
.info .id div {
  display: inline-block;
}
.btncer {
  position: fixed;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0px;
  background: #b3e5fc;
}
.btncer:before {
  color: #fff;
  font-family: icomoon;
  content: '\e601';
}
.lin {
  text-decoration: none;
  margin-top: 20px;
  color: #fff;
}
.esta {
  color: #000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 80%;
  background: #fff;
  margin: 0 5px;
}
.dis {
  background: #f00;
  display: inline-block;
  height: 20px;
  width: 98%;
}
.d1 {
  background: #4caf50;
}
.d2 {
  background: #ffc107;
}
.d3 {
  background: #f44336;
}
.d4 {
  background: #000;
}
