<div id="sol">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/vendor/event-handler.js"></script>
    
    <div class="top-small">
      <!--Aquí irán los datos.-->
      <img src="/img/header/music.jpg" class="head-image"/>

      <div id="profile-img crop" class="prof-img-small">
        <img src="/img/profile/mastodon.jpg"/>
      </div>
      <div id="data-container" class="data">
        <p id="section-name">Solicitudes</p>
      </div>
    </div>
    <div class="section-container" id="section-conainer">
      <!--Aquí irá el contenido de las secciones.-->
      <div class="query-container" id="request-conainer">
        <div class="container-left">
          <div class="contact-name">{{news.username}}</div>
          <div class="contact-addres">{{news.addres}}</div>
          <div class="contact-genre">{{news.genre[0]}}</div>
          <div class="contact-genre">HOLA</div>
        </div> 
        
        <div class="container-right">
          <div>
            <div class="ok circle-button" onclick="viewSetup()">
              <i class="fa fa-check"></i>
            </div>
            <div class="cancel circle-button" onclick="disscardEvent()">
              <i class="fa fa-times"></i>
            </div>
          </div>
        </div>
        
        <div class="settup-container" id="conainer1" style="display: none;">
          <p>Confirma la fecha y hora del evento</p>
          <label for="fecha">Fecha</label>
          <input type="date" id="fecha"/>
          <br/>
          <label for="hora">Hora</label>
          <input type="time" id="hora"/>
          <br/><br/>
          <input type="button" value="Confirmar" class="request-button">
        </div>
      </div>
    </div>
</div>