<div id="profile">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/profile.css">

    <div class="top">
      <img src="/img/header/music.jpg" class="head-image"/>
      <!--Aquí irán los datos.-->
      <div id="profile-img" class="prof-img">
        <img src="/img/profile/mastodon.jpg"/>
      </div>
      <div id="data-container" class="data">
        <p id="band_name">{{user.username}}</p>
        <p ng-repeat="genre in user.genres" class="band_data">{{genre}}</p>
      </div>
    </div>
    
    <div class="section-container">
      <!--Aquí irá el contenido de las secciones.-->
      
      <div class="basic-data-container">
        <div class="data-section-left">
          
        <form>
          <input type="text" placeholder="Género" ng-model="update.genero"> 
          <br/>
          <input ng-if="user.profile==1" type="text" placeholder="Historia"  ng-model="update.history">    
          <input ng-if="user.profile==2" type="text" placeholder="Direccion" ng-model="update.addres"> 
          <br>
          <input type="submit" ng-click = "update.change_genre()"> 

        </form>

        </div>
        <div class="data-section-right">
          <div class="cube-container">
            <div ng-if="user.profile==2" class="row-container">
              Direccion:              
              {{user.addres}}
            </div>            
            <div ng-if="user.profile==1" class="row-container">
              Historia:              
              {{user.history}}
            </div>
            <br>

            <div class="row-container">
              Teléfono:  
              <input type="text" ng-model="update.phone"> 
            </div>
            <div class="row-container">
              e-mail:
              {{user.email}}
            </div>
          </div>
          <br>

          <div class="cube-container">
            <div class="row-container">
              Facebook.
            </div>
            <div class="row-container">
              Twitter.
            </div>
            <div class="row-container">
              Soundcloud.
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>