<div id="profile">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/rating.css">
    <link rel="stylesheet" href="/css/popup.css">
    <script type="text/javascript" src="/js/vendor/event-handler.js"/>

    <div class="top">
      <img src="/img/header/music.jpg" class="head-image"/>
      <!--Aquí irán los datos.-->
      <div id="profile-img" class="prof-img">
        <img src="/img/profile/mastodon.jpg"/>
      </div>
      <div id="data-container" class="data">
        <p id="band_name">{{user.username}}</p>
        <p ng-repeat="genre in user.genres" class="band_data">{{genre}}</p>
      </div>
    </div>
  
    
  
    <div class="section-container">
      <!--Aquí irá el contenido de las secciones.-->
      
       <div class="darkener" id="dark" style="display:none"></div>
      
      <div class="popup-container" id="menu" style="display:none">
        
        <div class="row-contanier menu-info">
          Actualiza los datos de tu perfil.
        </div>
        
        <div class="row-container">
          <input type="text" placeholder="Género" ng-model="update.genero">               
        </div>  
        
        <div class="row-container" ng-if="user.profile==1" >
          <input  type="text" placeholder="Historia" ng-model="update.history">    
        </div>

        <div class="row-container" ng-if="user.profile==2" >
          <input  type="text" placeholder="Dirección" ng-model="update.addres"> 
        </div>           

        <div class="row-container">
          <input type="text" placeholder="Teléfono" ng-model="update.phone"> 
        </div>
            
        <div class="row-container">
          <input type="text" placeholder="Facebook" ng-model="update.facebook">
        </div>
        
        <div class="row-container">
          <input type="text" placeholder="Twitter" ng-model="update.twitter"> 
        </div>

        <div ng-if="user.profile==1" class="row-container">
          <input type="text" placeholder="Soundcloud" ng-model="update.soundcloud">               
        </div>

        <div ng-if="user.profile==2" class="row-container">
          <input type="text" placeholder="Foursquare" ng-model="update.foursquare">               
        </div>

        <div class="row-container center">
          <input type="submit" ng-click = "update.change_genre()" style="width:200px;">                
        </div>
        
        <div class="row-container center">
          <input type="submit" onClick="hideMenu()" value="Cancelar" style="width:200px;">
        </div>
            
      </div>
      
      
      <div class="basic-data-container">
        <div class="data-section-left">
          
        <form>
          <div class="row-container">
            E-Mail:
            {{user.email}}
          </div>  
          <div ng-if="user.profile==2" class="row-container">
            Direccion:              
            {{user.addres}}
          </div>      
          <div ng-if="user.profile==1" class="row-container">
            Historia:              
            {{user.history}}
          </div>
          <div ng-if="user.profile==1" class="row-container">
            Ciudad:              
            {{user.city}}
          </div>
          <div class="row-container">
            Telefono:
            {{user.phone}}
          </div>  
          <div class="row-container">
            Facebook:
            {{user.facebook}}
          </div>  
          <div class="row-container">
            Twitter:
            {{user.twitter}}
          </div>  
          <div ng-if="user.profile==1" class="row-container">
            Ciudad:              
            {{user.soundcloud}}
          </div>
          <div ng-if="user.profile==2" class="row-container">
            Ciudad:              
            {{user.foursquare}}
          </div>
          
          <div class="row-container center">
            <input type="submit" onClick="showMenu()" value="Editar Perfil" style="width:200px;">
          </div>
          
        </form>

        </div>
        
        <div class="data-section-right">
          
          <!--
          <div class="cube-container">
            <div class="row-container">
              Genero:
            <input type="text"  ng-model="update.genero">               
            </div>  
            <div class="row-container" ng-if="user.profile==1" >
              Historia:
              <input  type="text" ng-model="update.history">    
            </div>

            <div class="row-container" ng-if="user.profile==2" >
              Direccion:
              <input  type="text"  ng-model="update.addres"> 
            </div>           

            <div class="row-container">
              Teléfono:  
              <input type="text" ng-model="update.phone"> 
            </div>
            
            <div class="row-container">
              Facebook:
              <input type="text" ng-model="update.facebook">
            </div>
            <div class="row-container">
              Twitter:
              <input type="text" ng-model="update.twitter"> 

            </div>

            <div ng-if="user.profile==1" class="row-container">
              Soundcloud:
              <input type="text" ng-model="update.soundcloud">               
            </div>

            <div ng-if="user.profile==2" class="row-container">
              Foursquare:
              <input type="text" ng-model="update.foursquare">               
            </div>

            <input type="submit" ng-click = "update.change_genre()"> 
            
          </div>

          -->
          
          <div class="cube-container">
            
            <div class="row-conainer">
              Eventos realizados.
            </div>
            
            <div class="row-conainer">
              <h1> 43 </h1>
            </div>
            
            
            <div class="row-conainer">
              Rating del Usuario.
            </div>
            
            <div class="rating row-container">
              <span onClick="rating(5)">☆</span>
              <span onClick="rating(4)">☆</span>
              <span onClick="rating(3)">☆</span>
              <span onClick="rating(2)">☆</span>
              <span onClick="rating(1)">☆</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
</div>